.itemContainer {
  max-height: 21.875rem;
}

.itemContainer > div > div {
  width: 14.28%;
}

.animation {
  left: -0.5rem;
}

.mobile {
  height: calc(100% - 2.625rem);
}

@media only screen and (max-width: 40rem) {
  body.sidebarOpen {
      overflow-y: hidden;
  }
}

.container {}

.linkLevel2 {}

.linkLevel3 {}

.sidebarOpen {}

.sidebarScrim {}

.sidebar {}

.sidebarHeader {}

.sidebarContent {}

.sidebarItem {}
