.vtex-category-menu__item-container {
  max-height: 21.875rem;
  box-shadow: inset 0px 4px 4px 0 rgba(0, 0, 0, .2), 0px 4px 4px 0 rgba(0, 0, 0, .2);
}

.vtex-category-menu__item-container > div > div {
  width: 14.28%;
}

.vtex-menu-sidebar__content {
  height: calc(100% - 2.625rem);
}

@media only screen and (max-width: 40rem) {
  body.vtex-category-menu-sidebar-open {
    overflow-y: hidden;
  }
}
